<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.example.demo.Triangle">
		<property name="p1">
			<bean class="com.example.demo.Point">
				<property name="x" value="0"/>
				<property name="y" value="0"/>
			</bean>
		</property>
		<property name="p2">
			<bean class="com.example.demo.Point">
				<property name="x" value="20"/>
				<property name="y" value="0"/>
			</bean>
		</property>	
		<property name="p3">
			<bean class="com.example.demo.Point">
				<property name="x" value="0"/>
				<property name="y" value="20"/>
			</bean>
		</property>	
	</bean>

</beans>